DATABASE_URL="file:../db/baby-tracker.db"
# The name of the systemd service (Example: my-app.service)
SERVICE_NAME="baby-tracker"
#The time in seconds that the authentication token is valid before being logged out
AUTH_LIFE="86400"
#The idle time before being logged out
IDLE_TIME="28800"
# Version of the app
APP_VERSION="0.92.32"
# Whether to set cookies as secure (requires HTTPS)
COOKIE_SECURE="false"
# Encryption hash for local deployment data encryption
ENC_HASH="72f97c23b3724ed3888ba631a8c23fbac075f6ea5790d65aeb1c39cfafd56f8a"
